In [1]:
import sys, os
sys.path.insert(1, '/nfs/cms/martialc/DTUpgrade/src')

In [2]:
from dask.distributed import LocalCluster
cluster = LocalCluster()          # Fully-featured local Dask cluster
client = cluster.get_client()

In [3]:
%load_ext autoreload
%autoreload 2

import dtupy_analysis
import dtupy_analysis.dqm as dqm
import pandas as pd
import dask.dataframe as dd
import dask.array as da
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import pyarrow as pa
import pyarrow.parquet as pq
import dask

In [4]:
file = '/nfs/cms/martialc/DTUpgrade/data/sxa5_240802_full.parquet'
mudata = dqm.MuData.from_parquet(file)

In [5]:
mudata.get_ssl(1,1).

,bx,cell,channel,index_t,layer,link,obdt_ctr,obdt_type,sl,station,tdc
2,1005,1,215,31,4,9,4,0,1,1,13
6,1005,7,223,39,3,9,5,0,1,1,16
10,1005,7,203,43,4,9,5,0,1,1,16
11,1005,10,111,44,1,9,6,0,1,1,15
16,1005,2,212,49,4,9,4,0,1,1,14
...,...,...,...,...,...,...,...,...,...,...,...
99979,1005,0,210,278115,4,9,4,0,1,1,13
99982,1005,13,129,278125,4,9,7,0,1,1,15
99983,1005,9,49,278126,2,9,6,0,1,1,15
99996,1005,10,38,278156,4,9,6,0,1,1,14
99999,1005,7,46,278167,1,9,5,0,1,1,16